file://{{ .chezmoi.homeDir }}/Downloads Downloads
file://{{ .chezmoi.homeDir }}/Projects Projects
file://{{ .chezmoi.homeDir }}/Pictures Pictures
file://{{ .chezmoi.homeDir }}/Videos Videos
file://{{ .chezmoi.homeDir }}/Documents Documents
file://{{ .chezmoi.homeDir }}/Games Games
file:/// Root
sftp://media-lxc/data/komga/data/Comics Comics
sftp://media-lxc/data/jellyfin/media Jellyfin
