#!/bin/bash
## Synchronize refresh rate based on power state (AC or Battery)

IS_AC=$(cat /sys/class/power_supply/A*/online 2>/dev/null | head -n 1)

if [ "$IS_AC" = "1" ]; then
    ~/.local/share/scripts/on_ac.sh
else
    ~/.local/share/scripts/on_battery.sh
fi
