#!/bin/bash

# {{ include "dot_config/environment.d/global.conf" | sha256sum }}

# COLORS
GREEN='\033[0;32m'
BLUE='\033[0;34m'
NC='\033[0m' # No Color

echo -e "${BLUE}Copying env vars to /etc/environment...${NC}"

sudo cp ~/.config/environment.d/global.conf /etc/environment

echo -e "${GREEN}Successfully copied env vars to /etc/environment${NC}"
